---
import { Image } from "astro:assets";

// Define props from Astro
const { title, subTitle, src1, alt1, src2, alt2 } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  src1?: any;
  alt1?: string;
  src2?: any;
  alt2?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {subTitle && (
      <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    )}
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Clients Group Images -->
    {src1 && alt1 &&
      <Image
        src={src1}
        alt={alt1}
        class="mx-auto h-auto w-32 py-3 sm:mx-0 lg:w-40 lg:py-5 filter grayscale"
      />
    }
    {src2 && alt2 &&
      <Image
        src={src2}
        alt={alt2}
        class="mx-auto h-auto w-32 py-3 sm:mx-0 lg:w-40 lg:py-5 filter grayscale"
    />
    }
  </div>
</section>
