---
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/pompe_chaleur.webp";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import sopacLogo from "@images/logo_couleur-nobg.webp";
import daikinLogo from "@images/daikin-nobg.webp";
import atlanticLogo from "@images/atlantic-nobg.webp";
import qualityImage from "@images/quality-image.webp";
import professionalImage from "@images/professional-image.webp";
import homeImage from "@images/home-image.webp";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <HeroSection
    title={`Equipez votre Logement avec <span class="text-custom-red dark:text-custom-red">Sopac</span>`}
    subTitle="Des solutions de chauffage et climatisation de haute qualité pour un confort optimal."
    primaryBtn="Demander un devis"
    primaryBtnURL="/products"
    secondaryBtn="Nous contacter"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating={`<span class="font-bold">4.9</span> / 5`}
    starCount={4}
    reviews={`Découvrez ce que <span class="font-bold">10</span> de nos clients ont dit de nous, et laissez votre avis, il est important, parce que vous satisfaire est notre priorité !`}
    src={sopacLogo}
    alt="Logo de Sopac"
  />

  <ClientsSection
    title="Nos partenaires"
    subTitle="Ils nous font confiance, et vous?"
    src1={atlanticLogo}
    alt1="Logo d'Atlantic"
    src2={daikinLogo}
    alt2="Logo de Daikin"
  />

  <FeaturesGeneral
    title="Pompe à chaleur et climatisation de qualité supérieure"
    subTitle={`Chez So'Pac, nous relevons les défis uniques rencontrés dans le secteur des pompes à chaleur et de la climatisation de qualité supérieure. Fondée en <span style="color: red; font-size: larger;">2023</span> et en pleine croissance, notre activité se concentre sur la région de <span style="color: red; font-size: larger;">Rouen</span>.<br>De l'outillage de pointe aux services d'experts, nous sommes dédiés à vous aider à surmonter les obstacles et à atteindre vos objectifs. La confiance de nos clients, l'importance de l'humain, et notre sérieux sont au cœur de notre mission.`}
    src={featureImage}
    alt="So'Pac - Pompe à chaleur et climatisation de qualité supérieure"
    features={features}
  />

  <FeaturesNavs
    title={`Découvrez les atouts de <span class="text-custom-red dark:text-custom-red">So'Pac</span> pour vos besoins en chauffage et climatisation.`}
    tabs={[
      {
        heading: "Qualité des matériaux et de la main d'œuvre",
        content:
          "Chez So'Pac, nous utilisons des matériaux de haute qualité et une main d'œuvre experte pour garantir des solutions de chauffage et de climatisation fiables et durables.",
        svg: "tools",
        src: qualityImage,
        alt: "Matériaux de haute qualité utilisés par So'Pac",
        first: true,
      },
      {
        heading: "Services pour professionnels",
        content:
          "So'Pac offre des solutions personnalisées de chauffage et de climatisation pour les entreprises, avec un service sur mesure pour répondre aux besoins spécifiques des professionnels.",
        svg: "dashboard",
        src: professionalImage,
        alt: "Services de chauffage et climatisation pour professionnels",
        second: true,
      },
      {
        heading: "Services pour particuliers",
        content:
          "Nous nous occupons également des particuliers en leur proposant des solutions adaptées pour un confort optimal à domicile, avec un service client dédié et attentif.",
        svg: "house",
        src: homeImage,
        alt: "Services de chauffage et climatisation pour particuliers",
        second: true,
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    url="https://github.com/mearashadowfax/ScrewFast"
  />
</MainLayout>





